* {
  text-align: center;
}

/* img {
  fill: rgb(62, 62, 228);
}​ */

/* .tammy {
  fill: #ff8cb4;
} */


/* .App-logo {
  height: 10vmin;
  pointer-events: none;
  fill: blue;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-chin infinite 20s linear;
  }
}

@keyframes App-logo-chin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #ff74e1;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

